.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input,
.textarea,
.select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: var(--font-roboto);
}

.buttons {
    display: flex;
    gap: 10px;
}

.submitBtn {
    background-color: #0070f3;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
}

.cancelBtn {
    background-color: #eaeaea;
    color: black;
    padding: 10px 20px;
    cursor: pointer;
}